// .navbar {
//     background-color: #4527a0 
// }

// .site-name, .navbar a {
//     color: fuchsia !important;
//     font-weight: bold;
// }


.front {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url("/imgs/front.jpg");
    background-size: cover;
    padding-top: 11%;
    max-height: 560px;
}

.home .hero, .home .description {
    color: white !important;
}

@media only screen and (min-width: 421px) and (max-width: 603px) {
    .front {
        max-height: 625px;
    }
}
@media (max-width: 420px) {
    .front {
        max-height: 480px;
    }
}