// .navbar {
//     background-color: #4527a0 
// }

// .site-name, .navbar a {
//     color: fuchsia !important;
//     font-weight: bold;
// }


.front {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url("/imgs/front.jpg");
    background-size: cover;
    padding-top: 11%;
    max-height: 555px;
}

.home .hero, .home .description {
    color: white !important;
}

.home .features 
    margin-top: 6.5rem !important;
        

@media (max-width: 420px) {
    .front {
        max-height: 500px;
    }
}
    