.carbon-ads, .bsa-cpc-wrapper, .bsa-cpc {
    display: none;
}

.front {
    background-image: url("/imgs/sky.jpg");
    background-size: cover;
    padding-top: 2.2%;
    max-height: 700x;
}

.home .hero {
    color: #7B463D !important;
}
.home .description {
    color: #7B463D !important;
}

@media (max-width: 420px) {
    .front {
        max-height: 555px;
    }
    .content div[class*="language-"] {
        margin: 0.2rem;
    }
}
@media (min-width: 420px) and (max-width: 607px) {
    .front {
        max-height: 777px;
    }
}  
@media (min-width: 608px) and (max-width: 768px) {
    .front {
        max-height: 722px;
    }
}
